@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.bgimage{
    background-image: url(img/aa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    background: #12065780;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box {
    width: 1000px;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.10);
}

#output {
    width: 100%;
    min-height: 220px;
    max-height: 350px;
    overflow-y: auto;
    padding: 20px;
    background: #f7f9fc;
    border-radius: 14px;
    margin-bottom: 18px;
    border: 1px solid #dfe3e8;
    font-size: 18px;
    color: #333;
}

#loarding {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

#txtpromt {
    width: 100%;
    padding: 18px;
    border: 1px solid #cbd5e1;
    border-radius: 12px;
    margin-bottom: 15px;
    font-size: 18px;
    outline: none;
}

#txtpromt:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 6px rgba(59,130,246,0.4);
}

button {
    width: 25%;
    padding: 18px;
    border: none;
    background: #000000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s;
}

#b1{
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background: #2563eb;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #111827;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: #041735;
}
